body {
  background-image: url("https://cc-og-image.vercel.app/.png?theme=dark&md=1&fontFamily=source-sans-pro&fontSize=100px&images=https://storage.googleapis.com/mesmerizing-matrix-1380/4geeks-docs-logo.svg");
  background-repeat: no-repeat;
  width: 100%;
  height: 900px;
}

.alert {
  display: block;
  margin: auto;
  width: 900px;
}
